@import "tailwindcss";

.link {
  @apply hover:underline decoration-dotted underline-offset-4;
}

@theme {
  --breakpoint-xs: 30rem;
}

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

.chords {
  display: none;
}

.showChords .chords {
  display: inline;
}

* {
  @apply print:text-black;
}

.songLyrics {
  @apply text-sm md:text-base lg:text-2xl text-white  lg:leading-9 max-w-3xl;
  @apply print:text-base print:columns-2;

  a {
    @apply underline transition-all decoration-neutral-400 underline-offset-2 decoration-[0.1em];
  }

  p {
    @apply p-0 py-4;
  }

  .prose strong {
    @apply font-medium;
  }

  ul {
    @apply list-disc pl-6 list-inside;
  }

  ol {
    @apply list-decimal list-inside;
    p {
      @apply inline;
    }
  }

  li {
    @apply pb-4;
    @apply print:pb-2;
    &::marker {
      @apply text-gray-300 font-medium italic;
    }
  }

  em,
  blockquote {
    @apply text-gray-300 font-medium italic;
  }
}

.noprint {
  @media print {
    display: none;
  }
}

.printonly {
  display: none;
  @media print {
    display: inline;
  }
}

html,
body {
  @apply h-full w-full overflow-hidden;
}

@keyframes swing {
  0%,
  100% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-15deg);
  }
}

@keyframes text {
  0%,
  100% {
    background-size: 200% 200%;
    background-position: left center;
  }
  50% {
    background-size: 200% 200%;
    background-position: right center;
  }
}

.animation-magic-text {
  background-color: #a855f7;
  color: white;
  @apply animate-[text_5s_ease_infinite] bg-gradient-to-r from-white via-purple-500 to-teal-500 bg-clip-text text-transparent
}

@media (prefers-reduced-motion: reduce) {
  .animation-magic-text {
    @apply animate-none bg-gradient-to-r from-white to-white bg-clip-text text-white
  }
}

.animation-magic-backdrop {
  @apply animate-[text_5s_ease_infinite] bg-gradient-to-r from-white/35 via-purple-500/35 to-teal-500/35
}

.animation-magic-backdrop:hover {
  @apply animate-[text_5s_ease_infinite] bg-gradient-to-r from-white/65 via-purple-500/65 to-teal-500/65
}

.bg-video {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  opacity: 50%;
}
